# IMPORTANDO DE UM CSV

In [1]:
import pandas as pd

In [2]:
videos_df = pd.read_csv(
    "archive/USvideos.csv",
    usecols=[
        "category_id",
        "channel_title",
        "title",
        "trending_date",
        "video_id",
        "views",
    ],
)

In [3]:
# Analise a data de tendência e divida-a em colunas de ano/mês/dia.
trending_date = pd.to_datetime(
    videos_df["trending_date"],
    format="%y.%d.%m"
)

In [4]:
videos_df["trending_date"] = trending_date.dt.date
videos_df["trending_year"] = trending_date.dt.year
videos_df["trending_month"] = trending_date.dt.month
videos_df["trending_day"] = trending_date.dt.day

In [5]:
videos_df.sample(5)

,video_id,trending_date,title,channel_title,category_id,views,trending_year,trending_month,trending_day
24253,pspGtXW0QYo,2018-03-17,Cat Mind Control,AaronsAnimals,15,436696,2018,3,17
14414,I5qFoctplSU,2018-01-27,Best Hands: 2018 Pro Bowl Skills Showdown | NF...,NFL,17,730611,2018,1,27
6344,B7B6x2bHcUs,2017-12-15,"Get to know Doug Jones, Alabama's newest Senator",Newsy,25,1087,2017,12,15
11650,lzZadh-D8Tk,2018-01-13,KUWTK | Khloé Kardashian Sees the Positive in ...,E! Entertainment,24,289078,2018,1,13
13127,3hn14sIQc6E,2018-01-20,"Dolores O'Riordan, The Cranberries singer, dea...",New York Daily News,25,391175,2018,1,20

# IMPORTANDO DE UM JSON

In [8]:
import json
from pathlib import Path

In [11]:
#Analise o arquivo JSON contendo o mapeamento entre um ID de categoria e seu título e crie um DataFrame a partir dele.

category_data = json.loads(Path("archive/US_category_id.json").read_text())

In [12]:
data = [
    [int(item["id"]), item["snippet"]["title"]]
    for item in category_data["items"]
]

In [13]:
categories_df = pd.DataFrame(data, columns=["id", "category_title"])

In [14]:
categories_df.head()

   id    category_title
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

Primeiras cinco categorias com seu ID e título

Agora que os DataFrames estão preparados, podemos criar o cubo analítico atoti:

In [15]:
import atoti as tt

Welcome to atoti 0.7.3!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, you can apply for an evaluation license at https://www.atoti.io/contact and then install the `atoti-plus` plugin.

You can hide this message by setting the `ATOTI_HIDE_EULA_MESSAGE` environment variable to True.

In [17]:
#criando sessao
session = tt.Session()